{% extends 'base.html' %}

{% block header %}
      <!--Jumbotron-->
      <div class="container">
          <div class="row">
            <div class="col">
              <h1>Music</h1>
              <p>
                You can find all the available music events here
              </p>
            </div>
            <div class="col">
              <div class="container d-flex">
                <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>              
                  <div class="carousel inner">
                    <div class="carousel-item active">
                      <img src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg" class="d-block w-100" alt="Music Festival 1">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.pexels.com/photos/167491/pexels-photo-167491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Music Festival 2">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.pexels.com/photos/1776151/pexels-photo-1776151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Music Festival 3">
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </div>
          <div class="row">
            <div class="col">
              <h1>Popular events</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="/event details"><p><img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></p></a>
              <h4>Event 1</h4>
              <p>The event description goes here...</p>
              <p>Status: Available</p>
            </div>
            <div class="col">
              <a href="/event details"><p><img src="https://images.pexels.com/photos/736355/pexels-photo-736355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></p></a>
              <h4>Event 2</h4>
              <p>The event description...</p>
              <p>Status: Upcoming</p>
            </div>
            <div class="col">
              <a href="/event details"><p><img src="https://images.pexels.com/photos/167605/pexels-photo-167605.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></p></a>
              <h4>Event 3</h4>
              <p>The event description...</p>
              <p>Status: Available</p>
            </div>
          </div>
      </div>
{% endblock %}
