{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block content %}
    <div class="header">
        <h1>Booking History</h1>
      </div>
    <div class="container">
      {% for events in events %}
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Booking ID</th>
                <th scope="col">Event image</th>
                <th scope="col">Event name</th>
                <th scope="col">Date booked</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{events.id}}</td>
                <td><img src={{events.image}}></td>
                <td>{{events.music_name}}</td>
                <td>10/07/22</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>67890</td>
                <td><img src="img/Event 2 small.jpg"></td>
                <td>Event 2</td>
                <td>20/10/22</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>35487</td>
                <td><img src="img/Event 3 small.jpg"></td>
                <td>Event 3</td>
                <td>17/11/22</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="footer">
      Copyright 2022
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
