{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h1>Create an event</h1>
          </div>
          You can create your own music event here by filling in the details.
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Jane Doe</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      {{wtf.render_form(form)}}

    </div>
    <div class="footer">
      Copyright 2022
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}